[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"
guyamoe-api-types = {path = "./python"}

[dev-packages]
sphinx = "*"
furo = "*"
mypy = "*"
black = "*"

[scripts]
lint = "black ."
test = "mypy tests/test.py"

[requires]
python_version = "3.9"
